---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.brand }}</title>
    <link>{{ site.url }}/</link>
    <description>{{ site.description }}</description>
    <language>zh-hk</language>
    {% if collections.indexablePosts.length %}
    <lastBuildDate>{{ collections.indexablePosts[0].date | rfc822 }}</lastBuildDate>
    {% endif %}
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml"/>
    {% for post in collections.indexablePosts | limit(20) %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ site.url }}{{ post.url }}</link>
      <guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
      <pubDate>{{ post.date | rfc822 }}</pubDate>
      <description>{{ post.data.description }}</description>
    </item>
    {% endfor %}
  </channel>
</rss>
